

.color-text {
    color: #005677;
    background-color: #C4C4C4;

    ;}

.center-text {
    text-align: center;
    text-transform: uppercase;
}

.titulo {
    text-transform: uppercase;
    color: #005677;
    background-color: #C4C4C4;
}

#footer {
    color: #FFFFFF;
    background-color: #005677 ;
    text-align: center;
    word-spacing: 5px;
}

.center {
    margin: auto;
    padding: 10px;
  }

.achicador {
    width: 20px;
    height: 20px;
}

.alinear {
    text-indent: 80px;
}

p {
    line-height: 0.3;
}